name: SuperGraph Deployment - Dev Environment

on:
  workflow_dispatch:
    inputs:
      check_keywords:
        description: "Error keywords to search for (pipe-separated). Edit to add/remove."
        required: true
        default: "FAILED|FAIL|ERROR"
        type: string

permissions:
  contents: write
  pull-requests: write
  actions: write

jobs:
  release:
    runs-on: ubuntu-latest
    environment: dev
    outputs:
      branch_name: ${{ steps.create_branch.outputs.branch_name }}

    env:
      # Dump contexts to JSON strings for parsing
      VARS_JSON: ${{ toJSON(vars) }}
      SECRETS_JSON: ${{ toJSON(secrets) }}

      # Configuration
      CHECK_KEYWORDS: ${{ inputs.check_keywords }}
      SCHEMAS_ROOT_PATH: "apollo-router/schemas2"
      TEMP_WORKSPACE: "github_workspace"

      # Apollo configuration
      APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
      APOLLO_GRAPH_REF: ${{ secrets.APOLLO_GRAPH_REF }}

    steps:
      - uses: actions/checkout@v4

      - name: Introspect Subgraphs
        shell: bash
        run: |
          echo "======"
          
      - name: Check introspected schemas against GraphOS for breaking changes
        shell: bash
        run: |
          echo "======"
          
      - name: Check manual sdls created using Apollo Connectors against GraphOS for breaking changes
        shell: bash
        run: |
          echo "======"

      - name: If all previous steps passes, publish all schemas to Audit Git Branch
        shell: bash
        run: |
          echo "======"
          BRANCH="Audit Branch"
          echo "branch_name=$BRANCH" >> $GITHUB_OUTPUT
          echo "Created release branch $BRANCH locally."

      # - name: Trigger Release Workflow
      #   env:
      #     GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     BRANCH="Audit Branch"
      #     echo "branch_name=$BRANCH" >> $GITHUB_OUTPUT
      #     echo "Created release branch $BRANCH locally."
      #     echo "Triggering deployment from branch: $BRANCH"
          
      #     # This executes the second workflow file passing the inputs
      #     gh workflow run publish.yml \
      #       -f branch_name=$BRANCH \
      #       -f source_run_id=${{ github.run_id }}
  
  publish:
    needs: release
    runs-on: ubuntu-latest
    # This links the job to the Environment configured in Settings
    # The job will PAUSE here until approved in the GitHub UI
    environment: dev-publish

    steps:
      - name: Checkout the release branch
        run: |
          echo "Release branch: ${{ needs.release.outputs.branch_name }}"

      - name: Publish all subgraph schemas one by one from the release branch
        run: |
          echo "============="

      - name: Fetch the GrapohOS Artifact ID
        run: |
          ARTIFACT_ID="artifact.api.apollographql.com/omni-graph-63e1859b03aa121c@sha256:aed9b5bbebf6a2b487aa4fb7b0e048178d56013621bafe29bf3fe1eaedf4fe29"
          echo "======"
          echo "graphos_artifact_id=$ARTIFACT_ID" >> $GITHUB_OUTPUT

      # - name: Trigger Deployment Workflow
      #   env:
      #     GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     gh workflow run publish.yml \
      #       -f branch_name=$BRANCH \
      #       -f source_run_id=${{ github.run_id }}

  deploy:
    needs: publish
    runs-on: ubuntu-latest
    # This links the job to the Environment configured in Settings
    # The job will PAUSE here until approved in the GitHub UI
    environment: dev-deploy

    steps:
      - name: Cheking out code from release branch
        run: |
          echo "Release branch: Release Branch"

      - name: Saving active artifact id to github variable for rollback
        run: |
          echo "=========="

      - name: Creating docker container with the GraphOS artifact ID
        run: |
          echo "Artifact ID: {{ needs.publish.outputs.graphos_artifact_id }}"
          echo "============="

      - name: Publish docker container to container registery
        run: |        
          echo "======"          

      - name: Trigger deployment
        run: |        
          echo "======"   

  rollback:
    needs: deploy
    runs-on: ubuntu-latest
    # This links the job to the Environment configured in Settings
    # The job will PAUSE here until approved in the GitHub UI
    environment: dev-rollback

    steps:
      - name: get previous container and trigger deployment using previous container.
        run: |
          echo "====="
